div {
    display: block;
}

.chaba{
	margin-left:150px;
}

.newscontetn {
    position: relative;
    width: 810px;
    background: #fff;
    background-image: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.content {
    padding: 10px 0;
}

.newscontetn .description {
    padding: 5px;
    width: 97%;
    margin: 10px auto;
}
.newscontetn .content {
    width: 100%;
    background: #fff;
    background-image: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.newscontetn .content {
    min-height: 900px;
    text-align: justify;
}
.newscontetn .content {
    float: left;
}

#column-right {
	margin-top: 48px;
    float: right;
    width: 350px;
    margin-bottom: 10px;
	margin-right:150px;
}
.box-tintuclienquan {
    background: none repeat scroll 0 0 #e2f3f5;
    background-image: none;
    background-size: initial;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(226, 243, 245);
    float: right;
    width: 100%;
    padding: 10px;
}
ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.newscontetn .content p {
    margin: 10px 0;
}