  body{
	background:#fff;
}
*{
	padding:0;
	margin:0;
}
table{
	border-collapse:collapse;
	width:100%;
	background-color:#FC6;
	border:1px solid #F00;
}
textarea{
	width:100%;
	
	resize:auto;
	
}
table tr td{
	color:#000;
	font-size:18px;
	padding:4px;
}
input{
	width:60%;
	height:20px;
}
h3{
	text-align: center;
}